.App {
  text-align: center;
}

.background{
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  filter: blur(4px);
}
.background img{

  height: 100vh;
  width: 100%;
}
.responsiveCarousel {
  width: 930px;
}
.responsiveImage {
  width: 930px;
}
.responsiveButton{
  width: 230px;
}
.responsiveDivButton{
  width: 260px;
}
@media (max-width: 1400px) {

  .responsiveCarousel {
    width: 640px;
    margin: 20px 0;
  }
  .responsiveButton{
    width: 180px;
  }
  .responsiveDivButton{
    width: 220px;
  }
}

@media (max-width: 990px) {
  .onlyMonitor {
    display: none;
  }
  .responsiveCarousel{
    width: 640px;
  }
  .responsivePrincipalCol{
    width: 0;
  }
}

@media (max-width: 766px) {

  .responsiveCarousel{
    width: 300px;
  }

}

.App-link {
  color: #61dafb;
}
